@import '../styles.scss';

.main-body{
    background: linear-gradient(to bottom right, $darkblue 36%, $pink 100%);
    padding: 100px 0px;

    @media screen and (max-width: 550px){
        padding: 60px 0px;
    }
}