/* You can add global styles to this file, and also import other style files */

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
// Colors
$darkblue: #4f80b5;
$darkgreen: #2f4f4f;
$pink: #ff8ab3;

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.container{
    max-width: 1050px;
}

.btn{
    background: none;
    color: $darkgreen;
    border: 2px solid $darkgreen;
    border-radius: 6px;
    transition: background-color 0.2s ease-in-out;

    @media screen and (max-width: 550px){
        font-size: 5vw;
    }

    &:hover{
        background-color: $darkgreen;
        color: white;
        cursor: pointer;
    }
}




